.btn.btn-primary.btn-xl.text-uppercase.js-scroll-trigger {
  background-color: rgb(122,86,83);
}

.download {
  color: black;
}

downloadlink {
  color: black;
}

a {
  color: blue;
}

.downloadlist {
  text-align: left;
}

#about_body {
	padding-left: 30px;
	padding-right: 30px;
}

#about_header {
	background-color: #30343a;
	color: #efd751;
	padding-top:20px;
}

#about_header h1{
	padding-left:5px;
}

